/* vilainsComponent's private CSS styles */
@font-face {
  font-family: 'Play-Bold';
  src: url('/assets/fonts/Play-Bold.ttf');
}

@font-face {
  font-family: 'Play-Regular';
  src: url('/assets/fonts/Play-Regular.ttf');
}

/*--Title--*/



/*--heroe list li normal behaviour--*/

.character li {
  /*--cursorstyle--*/
  cursor: pointer;

  /*--centering--*/
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  height: 30%;


  /*content*/
  background-color: var(--evil-background-color);


}

/*--heroe list li interactive behaviour--*/

.character li.selected {
  /*--background color change & font color change*/
  background-color: darkred;

}



.badge {
  /*--Sizing--*/
  width: 50px;
  height: 50px;
  border-radius: 50%;

  /*--Centering--*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;

  /*--Content--*/
  
  border: yellow 2px solid;
  background-color: #f80000;
}

.characterId {
  /*--font attribute*/
  font-family:'Play-Bold' ;
  font-size: x-large;
  color: yellow;

}

#characterTitle {
  font-family:'Play-Regular' ;
  font-size: xx-large;
  
  /*--Sizing--*/
  width: 90%;
  /*--Centering--*/
  display: flex;
  justify-content: right;
  align-items: center
}


.detail {
  /*--Sizing & Centering--*/
  width: 95%;
  height: 60%;
  margin: auto;
  padding: auto;
}
