/* vilainsComponent's private CSS styles */
@font-face {
  font-family: 'Play-Bold';
  src: url('/assets/fonts/Play-Bold.ttf');
}

@font-face {
  font-family: 'Play-Regular';
  src: url('/assets/fonts/Play-Regular.ttf');
}

/*--Title--*/



/*--heroe list li normal behaviour--*/

.character li {
  /*--cursorstyle--*/
  cursor: pointer;

  /*--centering--*/
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  height: 30%;


  /*content*/
  background-color: var(--evil-background-color);


}

/*--heroe list li interactive behaviour--*/

.character li.selected {
  /*--background color change & font color change*/
  background-color: darkred;

}



.badge {

  background-color:var(--good-background-color);
}



.detail {
  /*--Sizing & Centering--*/
  width: 95%;
  height: 60%;
  margin: auto;
  padding: auto;
}
