
<div class="characterDetail" >
  <div id="sideInfo">
    <h2 class="titleDetail">{{hero.name | uppercase}} : </h2>
    <div >
      <div class="textReferences"><span>Real Name : </span>{{hero.realName}}</div>
      <div class="textReferences"><span>Powers : </span>{{hero.superPower}}</div>
      <div class="textReferences"><span>Weakness : </span>{{hero.weakness}}</div>
      <div class="textReferences"><span>Quote : </span> <blockquote>{{hero.quote}}</blockquote></div>
    </div>
  </div>
  <div id="sidePicture">
     <img id="characterPicture" src={{hero.picturePath}} alt="none">
  </div>
</div>