#mainBox{
    display: flex;
    flex-direction: column !important;
    /*Taille*/    
    width: 80%;
    height: 600px;
    /*centrage du mainbox*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /*contenu*/
    background-color: aquamarine;
    }
    #upBox{
    /*taille*/
    width:98%;
    height: 90%;
    /*centrage des up\downBox*/
    margin: auto;
    /*affichage*/
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    /*contenu*/
    border: 2px solid rgb(188, 235, 17);
    }
    
    #upLeftBox, #upRightBox {
    /*teille*/
    width: 48%;
    height: 95%;
    /*affichage
    display: flex;
    flex-direction: row;*/
    /*centrage*/
    margin: auto;
    /*contenu*/
    border: 2px solid red;
    
    }