<div class="characterDetail" >
  <div id="sideInfo">
    <h2 class="titleDetail">{{vilain.name | uppercase}} : </h2>
    <div >
      <div class="textReferences"><span>Real Name : </span><br> {{vilain.realName}}</div>
      <div class="textReferences"><span>Powers : </span><br>{{vilain.superPower}}</div>
      <div class="textReferences"><span>Weakness : </span><br>{{vilain.weakness}}</div>
      <div class="textReferences"><span>Quote : </span><br> <blockquote>{{vilain.quote}}</blockquote></div>
    </div>
  </div>
  <div id="sidePicture">
     <img id="characterPicture" src={{vilain.picturePath}} alt="none">
  </div>
</div>