/* Heroesfont-size: xx-large;Component's private CSS styles */

.character li {
   
    /*content*/
    background-color: var(--good-background-color);
}

/*--heroe list li interactive behaviour--*/

.character li.selected {

/*--background color change & font color change*/
    background-color: darkblue;

}



.badge {

    background-color: var(--evil-background-color);
}


