/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

  @font-face {
    font-family: 'Righteous-Regular';
    src: url('/source/assets/fonts/Righteous-Regular.ttf');
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('/source/assets/fonts/Roboto-Regular.ttf');
  }

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    background-image:url('assets/comic_page_2_BW.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% auto;

    }
    /*
body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
    }*/

header {
/*Taille*/
    width: 80%;
    height: 25%;
/*centrage du header*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
/*contenu*/
    text-align: center;
    background-color: rgba(255, 0, 0, 0.5);
    border: 4px solid rgb(255, 217, 0);
    border-radius: 30px;
}
h1 {
    color: #369;
    font-family: Impact;
    font-weight: 1;
    font-size: 500%;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px yellow;
    }
   /* h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    }
*/
    a {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    cursor: pointer;
    cursor: hand;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 3rem 0rem;
    color: #607D8B;
    text-decoration: none;
    }
    a:hover {
    background-color: #cfd8dc;
    }
    

    /* everywhere else */
    * {
    font-family: Arial, Helvetica, sans-serif;
    }
    